@import "./utilitaires/variables.scss";
@import "./utilitaires/mixin.scss";

// General //
* {
    @include reset-browser;
}

.main-container {
    width: 100%;
    max-width: 768px;
    margin: auto;
    box-sizing: border-box;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        max-width: 1440px;
    }

    @media (min-width: $breakpoint-desktop) {
        max-width: 1440px;
    }
}

body {
    @include text-typo(400);
    font-size: 1rem;
}

// Font-weight 300 //
.typo__thin {
    @include text-typo(300);
}

// Font-weight 500 //
.typo__btn {
    @include text-typo(500);
}

// Font-weight 700 //
.typo__bold {
    @include text-typo(700);
}

.btn {
    font-size: 1rem;
    height: 50px;
    border-radius: 25px;
    box-shadow: $btn-shadow;
    background: $btn-color;
    border: none;
    outline: none;
    padding: 16px 48px;
}

// Header //
.header {
    @include flex;
    @include flex-center;
    background: $white-color;
    box-shadow: $main-shadow;
    padding: 14px 89px 13px 89px;
    position: relative;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        padding: 30px 0 32px 0;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: 30px 0 32px 0;
    }

    &__logo {
        width: 200px;
        height: 34px;
    }

    &__link {
        @include neutral-style;
        color: $dark-grey-color;
    }

    &__nav {
        position: absolute;
        left: 17px;
    }

    &__arrow {
        @include flex;
        align-items: center;
        width: 30px;
        height: 30px;
        @include font-size(25px);
    }
}

// Section Location //
.location {
    @include flex;
    @include flex-center;
    flex-direction: column;
    background: $background-color;

    &__form {
        @include flex;
        @include flex-center;
        width: 100%;
        gap: 17px;
        color: $dark-grey-color;
        background: $grey-color;
    }

    &__form > i {
        width: 12px;
        height: 16px;
        color: $dark-grey-color;
        margin-left: 80px;
    }

    &__form > input[type="text"] {
        height: 50px;
        @include font-size(1rem);
        font-weight: 500;
        border: none;
        outline: none;
        color: $dark-grey-color;
        background: $grey-color;
    }
}

.hero {
    @include flex;
    @include flex-center;
    flex-direction: column;
    padding: 0 20px;
    gap: 5px;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        padding: 0;
        gap: 12px;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: 0;
        gap: 18px;
    }

    &__title {
        @include flex;
        @include flex-center;
        @include text-center;
        height: 68px;
        @include font-size(1.5rem);
        margin-top: 30px;
        color: $very-black-color;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            @include font-size (2rem);
        }

        @media (min-width: $breakpoint-desktop) {
            @include font-size(2.5rem);
        }
    }

    &__text {
        @include text-center;
        height: 46px;
        @include font-size(1.125rem);
        color: $dark-grey-color;
    }

    &__btn {
        @include text-center;
        color: $white-color;
        padding: 13px 18px;
        margin-top: 27px;
        margin-bottom: 57px;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            margin-top: 0;
            margin-bottom: 30px;
        }

        @media (min-width: $breakpoint-desktop) {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
}

// Section Fonctionnement //
.fonctionnement {
    @include flex;
    flex-direction: column;
    padding: 50px 20px;
    margin-bottom: 18px;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        padding: 50px 30px;
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: 50px 180px;
        margin-bottom: 0;
    }

    &__title {
        height: 31px;
        @include font-size(1.5rem);
        color: $very-black-color;
        margin-bottom: 25px;
    }

    &__btn {
        @include flex;
        @include flex-center;
        flex-direction: column;
        gap: 24px;
        padding: 0 20px;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            flex-direction: row;
            padding: 0 10px;
            width: 100%;
        }

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
            padding: 0 10px;
            width: 100%;
        }
    }

    &__btn > button {
        @include flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 73px;
        border-radius: 20px;
        color: $very-black-color;
        box-shadow: $fonctionnement-btn-shadow;
        background: $background-color;
        padding: 28px 36px;
    }

    &__btn button > i {
        width: 13px;
        height: 19px;
        color: $grey-tint;
        margin-right: 27px;
    }

    &__btn button > .fa-store {
        color: $main-color;
    }

    &__btn .btn__number {
        @include flex;
        @include flex-center;
        @include text-typo(500);
        @include font-size(0.9rem);
        color: $white-color;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: $main-color;
        position: absolute;
        left: -10px;
    }
}

// Section Restaurants //
.restaurants {
    @include flex;
    flex-direction: column;
    padding: 30px 20px;
    padding-bottom: 66px;
    background: $background-color;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        padding: 30px 130px;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: 30px 180px;
    }

    &__title {
        @include font-size(1.5rem);
        margin-top: 24px;
        margin-bottom: 20px;
        color: $very-black-color;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            margin-top: 0;
            margin-bottom: 28px;
        }

        @media (min-width: $breakpoint-desktop) {
            margin-top: 0;
            margin-bottom: 28px;
        }
    }

    &__cards {
        @include flex;
        @include flex-center;
        flex-direction: column;
        gap: 18px;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            gap: 30px;
        }

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 30px;
        }

        .card {
            width: 100%;
            height: 251px;
            box-shadow: $card-shadow;
            background: $white-color;
            border-radius: 15px;
            position: relative;

            @media (min-width: $breakpoint-desktop) {
                width: 45%;
            }
        }

        .card > img {
            object-fit: cover;
            width: 100%;
            height: 70%;
            border-radius: 20px 20px 0 0;
        }

        .card .card__content {
            @include flex;
            justify-content: space-between;
            align-items: center;

            .card__text {
                @include flex;
                flex-direction: column;
                gap: 5px;
                margin: 12px 13px;

                .card__title {
                    @include font-size(1.1rem);
                    color: $very-black-color;
                }
            }

            .card__text > p {
                @include font-size(1.063rem);
                color: $very-black-color;
            }

            i {
                width: 22px;
                height: 21px;
                @include font-size(1.375rem);
                margin-right: 25px;
            }

            .card__link {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        .card .card__new {
            @include flex;
            @include flex-center;
            font-size: 0.9rem;
            border-radius: 2px;
            padding: 7px 9px;
            box-shadow: $main-shadow;
            color: $green-color;
            background: $green-background-color;
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
}

// Footer //
.footer {
    @include flex;
    flex-direction: column;
    padding: 22px 25px;
    gap: 16px;
    background: $dark-grey-color;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 30px 25px;
        height: 54px;
        gap: 40px;
    }

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 30px 25px;
        height: 84px;
        gap: 90px;
    }

    &__logo {
        @include title-typo;
        @include font-size(1.1rem);
        width: 138px;
        color: $white-color;
    }

    &__links {
        @include flex;
        flex-direction: column;
        gap: 7px;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            flex-direction: row;
            li:nth-child(2) {
                margin-right: 20px;
            }
        }
        
        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
            li:nth-child(2) {
                margin-right: 40px;
            }
        }

        li,
        a {
            @include flex;
            align-items: center;
            @include neutral-style;
            color: $white-color;
            gap: 11px;
        }

        i {
            width: 11px;
            height: 13px;
            @include font-size(0.875rem);
        }
    }
}

// Menu //
.menu__banner {
    object-fit: cover;
    width: 100%;
    height: 17rem;
}

.menu__content {
    @include flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 40px 40px 0 0;
    padding: 32px 17px;
    position: relative;
    top: -55px;
    overflow: hidden;
    margin: auto;
    background: $background-color;
    margin-bottom: -55px;
    box-sizing: border-box;

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        max-width: 725px;
        padding: 51px 160px 40px 160px;
    }

    @media (min-width: $breakpoint-desktop) {
        max-width: 1055px;
        padding: 51px 210px 40px 210px;
    }
    
    &__title {
        @include flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            justify-content: center;
        }

        @media (min-width: $breakpoint-desktop) {
            justify-content: center;
        }

        .menu__title {
            @include title-typo;
            @include font-size(1.75rem);
            color: $black-color;
        }

        .menu__hearts__icons {
            @include flex;
            @include flex-center;
            @include font-size(1.375rem);
            margin: 0 25px;
            position: relative;

            i {
                width: 22px;
                height: 21px;
                position: absolute;
            }
        }
    }
    
    .menu__entry,
    .menu__plats,
    .menu__desserts {
        @include flex;
        flex-direction: column;
        gap: 12px;

        &__title {
            @include font-size(1rem);
            text-transform: uppercase;
            color: $very-black-color;
        }

        &__card {
            @include cards-menu;

            .card__title {
                @include ellipsis;
                @include font-size(1.1rem);
                color: $very-black-color;
            }
        }

        &__content {
            @include flex;
            justify-content: space-between;

            .card__text {
                @include ellipsis;
                @include font-size(0.938rem);
                color: $very-black-color;
            }

            .card__price {
                color: $dark-grey-color;
                @include font-size(0.938rem);
            }
        }
    }

    .menu__btn {
        @include flex;
        @include flex-center;
    }

    .menu__btn > button {
        color: $white-color;
    }
}
