@keyframes menu-slide {
    0% {
        transform: translateX(-150%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes menu-title {
    0% {
        transform: translateY(-250%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes loading {
    0% {
        opacity: 1;
        z-index: 2;
    }
    99% {
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes letters {
    0% {
        transform: translateY(50px) scaleX(1.5);
    }
    40% {
        transform: translateY(-50px) scaleX(1);
    }
    100% {
        transform: translateY(0px) scaleX(1.5);
    }
}