@mixin reset-browser {
    margin: 0;
    padding: 0;
}

@mixin text-typo ($fontWeight) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: $fontWeight;
}

@mixin title-typo {
    font-family: 'Shrikhand', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

@mixin text-center {
    text-align: center;
}

@mixin flex {
    display: flex;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin neutral-style {
    list-style-type: none;
    text-decoration: none;
    outline: none;
}