// Colors //
$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$black-color: #101010;
$white-color: #FFF;
$grey-color: #EAEAEA;
$dark-grey-color: #353535;
$background-color: #F6F6F6;
$grey-tint: #7E7E7E;
$btn-color: linear-gradient(182deg, rgba(147,86,220,1), rgba(255,121,218,1));
$green-color: #008766;
$green-background-color: #99E2D0;

// Box-Shadow //
$main-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$btn-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$fonctionnement-btn-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$card-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

// Typography //
$fontWeight: 400;